body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
.logo {  
    width: 60%;   
    height: 70%;
    margin-left: 20%;
}
.nav-link.px-2.link-body-emphasis {
    color: green !important;

}

.container {
    align-self: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 20px;
    width: 500px;
    height: 500px;
    background: linear-gradient(to right, #88ec66,#176a24);
    border-radius: 38px;
    margin-right: 90px; /* Adicionando uma margem à direita */
}
.logo-facebook img{
    margin-right: 20px;
    width: 20px; 
    height: auto; 
    position: relative;
}
.logo-google img{
    margin-right: 60px;
    width: 20px; 
    height: auto; 
    position:relative;
    left: 100px;
}

#google{
    position: relative;
    left: 50px;
    bottom: 2px;
    font-size: 15px;

}

#face{
    position: relative;
    left: 295px;
    bottom: 21.5px;
    font-size: 15px;
}

#text-face{
    position: relative;
    left: 280px;
    bottom: 26px;
}
#text-face span{
    font-size: 15px;
}
label {
    margin-bottom: .2rem;
    position: relative;
}
      
label:not(:first-of-type){
    margin-top: 1rem;
}
.helper-text {
    display: none;
    font-size: .8rem;
    color: darkred;
         
}  
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    background-color: #618463;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer
    
}
input[type="submit"]:hover {
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    
}
p a {
    text-align: center;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: #06509b;
}
.required-popup::after {
    content: "* Campo obrigatório";
    position: absolute;
    top: 0; /* Ajuste a posição superior conforme necessário */
    right: -400px; /* Ajuste a distância da borda direita */
    color: #DFDFDF;
    font-size: 0.80rem;
    padding: 0.2rem 0.3rem;
    width: auto;
    display: block;
    background-color: #202020;
}

input.error {
  border: solid 2px #992020;
  background-color: #CCBBBB;
  color: #662020;
}

input.correct {
  background-color: #BBCCBB;
  border: solid 2px #206620;
  color: #206620;
}

.visible {
  display: block;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

footer.py-3 .nav-link.text-body-secondary {
    color: gray !important;
}
  
footer.py-3 .text-body-secondary {
    color: gray !important;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    color: white;
    text-align: center;
}