/****************************************************** Estilos para o cabeçalho */
.cabecalho {
    background-color: #2d742d; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    display: flex; /* Tornar o cabeçalho um flex container */
    justify-content: space-between; /* Alinhar os elementos ao longo do eixo principal */
    align-items: center; /* Centralizar verticalmente os elementos */
}

.logo {
    width: 100px; /* Largura do logotipo */
    height: auto; /* Altura automática para manter a proporção */
}

.menu {
    list-style-type: none; /* Remover os marcadores de lista */
    display: flex; /* Tornar o menu um flex container */
}

.menu a {
    text-decoration: none; /* Remover sublinhado dos links */
    color: #fff; /* Cor do texto dos links */
    margin-right: 20px; /* Espaçamento entre os itens do menu */
}

.menu a.active {
    font-weight: bold; /* Destacar o link ativo */
}



/****************************************************** Estilos para o título da página */
h2 {
    margin-top: 20px; /* Espaçamento superior */
    color: #333; /* Cor do texto */
    font-size: 24px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
}




/****************************************************** Estilos para a lista de produtos */
.listaProdutosBox {
    display: flex; /* Tornar a lista de produtos um flex container */
    flex-wrap: wrap; /* Permitir que os produtos quebrem para uma nova linha */
    justify-content: space-between; /* Distribuir os produtos igualmente ao longo do eixo principal */
}

/* Estilos para cada item de produto */
.produto {
    background-color: #fff; /* Cor de fundo */
    border-radius: 5px; /* Borda arredondada */
    padding: 20px; /* Espaçamento interno */
    margin-bottom: 20px; /* Espaçamento inferior */
    width: 100%; /* Largura do item de produto */
    display: flex; /* Tornar o item de produto um flex container */
    flex-wrap: wrap; /* Permitir que os elementos quebrem para uma nova linha */
}

.produto img {
    max-width: 200px; /* Largura máxima da imagem */
    height: auto; /* Altura automática */
}

.info-produto {
    margin-left: 20px; /* Espaçamento à esquerda */
    display: flex; /* Tornar o contêiner um flex container */
    justify-content: space-between; /* Distribuir os elementos horizontalmente */
}

.descricao {
    flex-grow: 1; /* Permitir que a descrição ocupe todo o espaço disponível */
}

.valores {
    text-align: right; /* Alinhar o texto à direita */
    flex-shrink: 0; /* Evitar que este elemento encolha */
    margin-left: 20px; /* Espaçamento à esquerda */
}

.loja h1 {
    font-size: 18px; /* Tamanho da fonte */
    color: #666; /* Cor do texto */
    margin-top: 10px; /* Espaçamento superior */
}

.quantidade {
    display: flex; /* Tornar o contêiner um flex container */
    align-items: center; /* Centralizar verticalmente os itens */
    justify-content: flex-end; /* Alinhar os itens à direita */
    margin-top: 10px; /* Espaçamento superior */
}

.botao-excluir button {
    background-color: #ff0000; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remover a borda */
    padding: 5px 10px; /* Espaçamento interno */
    border-radius: 3px; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar por cima */
    margin-left: 10px; /* Espaçamento à esquerda */
}


/****************************************************** Estilos para a opçoes de entraga */

.entregaContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.entregaBox,
.entregaBoxTotal {
    width: calc(50% - 10px); /* 50% do espaço disponível com uma margem de 10px entre elas */
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box; /* inclui padding e borda no tamanho total */
    margin-bottom: 20px;
}

.ZipcodeForm-input,
.buttonWithin {
    margin-top: 10px; /* Adiciona espaço entre o formulário e o botão */
}

.ZipcodeForm-link {
    margin-top: 10px; /* Adiciona espaço entre o formulário e o link */
}

/* Limpar margens e preenchimento padrão */
p {
    margin: 0;
    padding: 0;
}

/****************************************************** Estilos para a rodapé */

footer {
    background-color: #f0f0f0; /* Cor de fundo */
    color: #333; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    font-size: 14px; /* Tamanho da fonte */
    position: fixed; /* Fixar o rodapé na parte inferior da página */
    left: 0; /* Alinhar à esquerda */
    bottom: 0; /* Alinhar na parte inferior */
    width: 100%; /* Largura total */
}


