/* Global Styles */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Form Styles */
#login-form input[type="text"],
#login-form input[type="password"] {
    background-color: white;
}

/* Search Input Styles */
.custom-search-input {
    background-color: white !important;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: black !important;
}

.custom-search-input:focus {
    color: black;
    background-color: white !important;
}

/* Main Content Styles */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

/* Logo Styles */
.logo {
    width: 60%;
    height: 70%;
    margin-left: 20%;
}

/* Navigation Link Styles */
.nav-link.px-2.link-body-emphasis {
    color: green !important;
}

/* Container Styles */
.container-2 {
    padding: 20px !important;
    margin: 50px auto !important;
    width: 500px !important;
    background-color: #1B5E1F !important;
    border-radius: 38px !important;
    color: white !important;
}

/* Social Media Logo Styles */
.logo-facebook img,
.logo-google img {
    width: 20px;
    height: auto;
    position: relative;
}

.logo-google img {
    margin-right: 60px;
    left: 100px;
}

#google {
    position: relative;
    left: 50px;
    bottom: 2px;
    font-size: 15px;
}

#face {
    position: relative;
    left: 270px;
    bottom: 21.5px;
    font-size: 15px;
}

#text-face {
    position: relative;
    left: 280px;
    bottom: 26px;
}

#text-face span {
    font-size: 15px;
}

/* Form Label Styles */
label {
    margin-bottom: .2rem;
    position: relative;
}

label:not(:first-of-type) {
    margin-top: 1rem;
}

/* Helper Text Styles */
.helper-text {
    display: none;
    font-size: .8rem;
    color: darkred;
}

/* Input Styles */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #618463;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
    border: none;
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
}

/* Validation Styles */
input.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
}

input.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
}

/* Miscellaneous Styles */
.required-popup::after {
    content: "* Campo obrigatório";
    position: absolute;
    top: 0;
    right: -400px;
    color: #DFDFDF;
    font-size: 0.80rem;
    padding: 0.2rem 0.3rem;
    background-color: #202020;
}

.visible {
    display: block;
}

.centered-links {
    text-align: center;
}

.centered-links a {
    color: rgb(241, 241, 245);
}

